@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

$gray-text-color: #373737;
$main-green: #25d389;
$second-green: #82cbac;
$main-text-color: #565656;
